<div class="users-new-wrapper">
  <div class="bkRGBA">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-6 users-new-container">
          <h1>検索結果</h1>
           <div class="text-white">
           <% if @results.any? %>
           <% @results.each do |result| %>
           <p><%= link_to result.name, shop_path(id: result.id) %></p>
           <% end %>
          </div>
          <% end %>
          <%= link_to '一覧画面に戻る', "/shops/index" %>
        </div><!--users-new-container-->
      </div><!--row-->
    </div><!--container-->
  </div><!--bkrgb-->
</div><!--new-wrapper-->   
<!--,shop_path(shop_id:shop.id)-->