h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  background-color: #464646;  width: 100vw;
  height: 100vh;
  background: url('bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}


.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bg-top.png');
  position: -webkit-sticky;
  position: sticky;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: ;
  background-size: cover;
  background-color: #464646;
  // margin-bottom: 1000px;

  .bkRGBA {
    height: 100%;
    background: rgba(255,255,255,0.3);
    
   
    .users-new-container {
      padding-top: 220px;
      font-size: 25px;
      
    .picture {
      width: 100px;
      height: 100px;
    }  
      
      // .mw50 {
      //   width:100px;
      //   height:100px;
      // }

      .form-group {
        margin-bottom: 20px;
      }
      
      .text {
        color: orange;
      }
    }
  }
}

.bkRGBA {
  height: 100%;
  background: rgba(255,255,255,0.3);
  }


.navbar-transparent {
  margin-bottom: 0px;
  background-color :rgba(0,0,0,5);
  a {
    color: #fff !important;
  }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  img {
    height: 40px;
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.orange b {
  color: #ff0000;
}

.btn-black {
  color:#565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  
  &hover {
    color: #565656;
  }
}
  .review-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  padding-top: 200px;
  padding-bottom: 500px;
  
  }